body{
  padding: 0;
  margin: 0;
}
.grid{
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-areas: 'nav nav nav' 'main main aside' 'footer footer footer';
  height: 100vh;
  /* padding: 11px; */
  /* border: 3px solid gray; */
  gap: 11px;
  /* place-items: center; */
  background-color: rgb(34, 204, 251);
}
.child{
  height: 1fr;
  width: 100%;
}
.c1{
  grid-area: nav;
  background-color: gray;

}
.c2{
  grid-area: main;
  background-color: hotpink;

}
.c3{
  grid-area: aside;
  background-color: palegoldenrod;

}
.c4{
  grid-area: footer;
  background-color: palegreen;
}
