*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 3px;
}
.grid{
  display: grid;
  grid-template-areas: 'nav nav nav' 'main main aside' 'footer footer footer';
  height: 100vh;
  gap: 5px;
  background-color: rgb(34, 204, 251);
  padding: 5px;
  /* padding: 11px; */
  /* border: 3px solid gray; */
  /* place-items: center; */
  /* grid-template-columns: auto auto auto; */
}
.child{
  height: 1fr;
  width: 100%;
  color: #fff;
  font-weight: 900;
  font-size: 31px;
  display: grid;
  place-items: center;
}
.c1{
  grid-area: nav;
  background-color: gray;

}
.c2{
  grid-area: main;
  background-color: hotpink;

}
.c3{
  grid-area: aside;
  background-color: palegoldenrod;

}
.c4{
  grid-area: footer;
  background-color: palegreen;
}
